/*          FUENTES          */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AR:wght@100..400&display=swap");
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

header {
  position: fixed;
  background-color: #00DBDE;
  background-image: linear-gradient(135deg, #00DBDE 0%, #FC00FF 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 5px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; }
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    z-index: -1; }
  header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: .5s; }
  header:hover::after {
    left: 100%; }

.logo {
  width: 50px;
  height: 50px; }

.navbar a {
  font-size: 1.15rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 3rem;
  transition: 0.5s; }

.navbar a:nth-child(1) {
  margin-left: 0; }

.navbar a:nth-child(2) {
  margin-left: 55px; }

#check {
  display: none; }

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: white;
  cursor: pointer;
  display: none; }

.main_index {
  width: 100dvw; }
  .main_index .whatsapp {
    position: fixed;
    right: 60px;
    bottom: 150px; }
  .main_index .whatsapp img {
    width: 70px; }
  .main_index a {
    text-decoration: none; }

.banner {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  padding: 40px;
  color: #38302e;
  text-align: center;
  background-image: url(/img/background-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.banner h1 {
  color: #9c6960;
  border: 6px solid #9c6960;
  font-size: 80px;
  font-weight: bold;
  padding: 20px;
  margin: 30px; }

.banner p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  width: 80%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3); }

.button_index {
  margin-top: 15px;
  width: 120%;
  height: 60px;
  padding: 10px 30px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  outline: none;
  border: 1px solid #000;
  color: #ffff;
  background: transparent;
  z-index: 0;
  justify-content: center;
  align-content: center;
  font-size: 25px; }

.button_index:hover:after {
  top: 0;
  left: 0; }

.button_index:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #9c6960; }

.slide div {
  padding: 20px;
  margin-bottom: 10px; }

.slide img {
  height: 80dvh;
  width: 50dvw;
  object-fit: cover; }

.carousel {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px; }

.carousel .carousel-item .carousel-caption {
  color: #38302e;
  background-color: rgba(240, 255, 255, 0.651);
  padding-bottom: 15px; }

.contenedor h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-size: 45px;
  font-weight: 700;
  color: #9c6960; }

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px; }

.imagen-port {
  width: 24%;
  height: 300px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(75, 6, 132, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.hover-galeria img {
  width: 50px;
  padding: 10px; }

.hover-galeria p {
  padding: 10px;
  color: #fff; }

.imagen-port:hover .hover-galeria {
  transform: scale(1); }

.products {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); }
  .products h1 {
    padding-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .products h2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 250px;
  padding: 20px; }

.gallery_item {
  position: relative; }

.gallery_title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(225, 225, 225, 0.1), black);
  width: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 15px; }

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; }
  .gallery_img:hover {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px); }

.gallery_item:nth-child(6) {
  grid-row-start: span 2; }

.gallery_item:nth-child(7) {
  grid-row-start: span 2; }

.servicios {
  padding-top: 100px;
  height: 100%;
  background-color: rosybrown;
  height: auto;
  display: inline-block;
  justify-content: center;
  align-items: center; }

.clases-servicios {
  display: inline-block;
  align-items: center;
  justify-content: center; }
  .clases-servicios h2 {
    font-size: 30px;
    color: antiquewhite; }
  .clases-servicios div {
    border: 1px solid white;
    padding: 20px;
    width: 90%;
    height: 80hw;
    text-align: center;
    display: inline-block;
    margin: 30px 30px; }

/* Galeria */
.portafolio {
  background: #f2f2f2; }

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(75, 6, 132, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.hover-galeria img {
  width: 50px; }

.hover-galeria p {
  color: #fff; }

.imagen-port:hover .hover-galeria {
  transform: scale(1); }

.nosotros {
  height: 100%s;
  width: 100%;
  background-color: #e9ff99;
  background-image: radial-gradient(at 9% 89%, #7cb0f8 0px, transparent 50%), radial-gradient(at 72% 6%, #e75fa1 0px, transparent 50%), radial-gradient(at 24% 19%, #f89d81 0px, transparent 50%), radial-gradient(at 65% 6%, #f29b91 0px, transparent 50%), radial-gradient(at 20% 98%, #e561c2 0px, transparent 50%), radial-gradient(at 44% 9%, #fdd78c 0px, transparent 50%), radial-gradient(at 10% 9%, #bdde63 0px, transparent 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }

.nosotros img {
  width: 300px;
  height: 300px;
  margin-top: 30px; }

.main_nosotros {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; }
  .main_nosotros h2 {
    font-size: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; }
  .main_nosotros p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px; }

.contactenos {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  display: flex;
  justify-content: center;
  align-items: center; }

.form-register {
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 30px; }
  .form-register a {
    color: white;
    text-decoration: none; }
    .form-register a:hover {
      color: white;
      text-decoration: underline; }

.formulario {
  justify-content: center;
  align-items: center;
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: 50px 50px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000; }
  .formulario h4 {
    font-size: 22px;
    margin-bottom: 20px; }
  .formulario p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px; }

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white; }

.form-register .botons {
  width: 100%;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 42%, #00d4ff 100%);
  border: none;
  padding: 12px;
  color: #f5f5f5;
  font-weight: bolder;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease; }
  .form-register .botons:hover {
    background: #22c1c3;
    background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%); }

.tercero {
  padding-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center; }

.tercero iframe {
  padding: 30px;
  align-items: center;
  justify-content: center; }

footer {
  background-color: #00DBDE;
  background-image: linear-gradient(135deg, #00DBDE 0%, #FC00FF 100%);
  height: 70px;
  padding: 5px; }
  footer div {
    display: flex;
    margin: 5px;
    text-decoration: none; }
    footer div a img {
      display: inline-block;
      flex-direction: row;
      padding: 5px;
      height: 50px;
      width: 50px; }

@media (max-width: 1100px) {
  .icons {
    display: inline-flex; }
  #check:checked ~ .icons #menu-icon {
    display: none; }
  .icons #close-icon {
    display: none; }
  #check:checked ~ .icons #close-icon {
    display: block; }
  .navbar {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    overflow: hidden;
    transition: .3s ease;
    padding: 0; }
    .navbar a {
      display: block;
      font-size: 1.1rem;
      margin: 1.5rem 0;
      text-align: center;
      transform: translateY(-50px);
      opacity: 0;
      transition: .3s ease; }
  #check:checked ~ .navbar {
    height: 17.7rem; }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i)); }
  .banner h1 {
    margin-top: 20px; }
  .banner p {
    padding: 15px;
    margin-top: 40px; }
  .button_index {
    margin-top: 50px;
    width: 100%;
    height: 60px;
    padding: 10px 30px; }
  .clases-servicios div {
    width: 80%; }
  .nosotros {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; } }

@media (max-width: 992px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr); }
  .contactenos {
    display: block;
    padding: 0 10px; }
  .tercero {
    padding-top: 10px; }
  footer {
    align-content: center;
    display: flex;
    justify-content: center; } }

@media (max-width: 650px) {
  .banner h1 {
    margin-top: 20px; }
  .banner p {
    padding: 15px; }
  .button_index {
    margin-top: 25px;
    width: 100%;
    height: 60px;
    padding: 10px 30px; }
  .servicios {
    padding-right: 30px; }
  .clases-servicios div {
    width: 80%; }
  .segundo h2 {
    font-size: 40px;
    margin-bottom: 40px; }
  .recomendaciones div {
    margin: 10px 10px; }
  .productos-spag h2 {
    font-size: 40px;
    padding-left: 60px; }
  .products h2 {
    font-size: 15px; }
  .gallery-container {
    grid-template-columns: repeat(1, 1fr); }
  .gallery_item:nth-child(6) {
    grid-row-start: span 1; }
  .gallery_item:nth-child(7) {
    grid-row-start: span 1; }
  .nosotros {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .nosotros img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px; }
  .main {
    display: inline;
    justify-content: center;
    align-items: center;
    padding-top: 50px; }
  .nosotros h2 {
    justify-content: center;
    padding: 20px; }
  .main_nosotros p {
    margin: 20px 10px;
    padding-left: 10px; }
  .form-register h4 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .form-register p {
    margin-bottom: 30px; } }

@media (max-width: 430px) {
  .banner {
    height: 100dvh; }
    .banner h1 {
      margin-top: 20px;
      font-size: 49px; }
  .button_index {
    margin-top: 25px;
    width: 100%;
    height: 60px;
    padding: 10px 25px;
    font-size: 20px; } }
