

/*          FUENTES          */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*          RESET          */

*{
    margin: 0;
    padding: 0;
    border: 0;

}

 body {
    font-family: 'Poppins', cursive;
    
 }

/*          HEADER          */

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    padding: 2px;
    
}


header img {
    
    width: 80px;
    height: 80px;
 
}

header h1 {
color: white;
}

header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;

}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    

}

/*          MAIN          */

.main{
    width: auto;
    padding: 30px;
}

.slide {
    margin: 10px 10px;
}


.slide img {

    height: 80vh;
    width: 50vw;
   
}

.primero {
    color: white;
    width: 100%;
    height: calc(100vh);
    text-align: center;
    background-image: url(../img/background4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.primero h1 {
    width: 70%;
    display: inline-block;
    padding: 50px;
    border: 3px solid wheat;
    font-size: 40px;

}

.primero p {
    padding: 50px;
    font-size: 30px;
}
.primero a {
    color: white;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: none;
    background-color: darkorchid;
    border: 1px solid black;
    padding: 10px;

}
.recomendaciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.segundo {
    display: inline-block;
    justify-content: center;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.segundo h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

.segundo h3{
    color: white;
    margin-bottom: 20px;
    font-size: 23px;


}

.segundo .recomendaciones div {
    border: 1px solid gray;
    width: 300px;
    height: 400px;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
    
}
.segundo div a{
    text-decoration: none;
    color: black;;
    background-color: khaki;
    padding: 10px;
    
    
}

.segundo div img {
    display: inline-block;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
}

.tercero {
    display:flex;
    justify-content: center;
    align-items: center;
}

 .tercero iframe {
    padding: 30px;
    align-items: center;
    justify-content: center;

 }
/*          FOOTER          */


footer {
    background-color: black;
    height: 70px;
    padding: 5px;
}
footer .contactos {
    
    display: flex;
    margin: 5px;
    text-decoration: none;
    
}
footer img {

    display: inline-block;
    flex-direction:row;
    padding: 5px;
    height: 50px;
    width: 50px;   
}

/*              CSS PAGINAS            */
.productos-spag{
    display: inline-block;
    background: rgb(63,248,251);
    background: linear-gradient(90deg, 
    rgba(63,248,251,1) 0%, 
    rgba(78,86,172,1) 34%,
    rgba(76,14,199,1) 52%,
    rgba(207,76,141,1) 83%,
    rgba(252,70,107,1) 100%,
    rgba(24,125,126,1) 100%,
    rgba(252,70,107,1) 120%, 
    rgba(252,70,107,1) 120%);
}

.productos-spag h2 {
    color: antiquewhite;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;  
}

.recomendaciones-productos{
    display: flex;
    flex-wrap: wrap;
}

.recomendaciones-productos h3{
    color: white;
    margin:  20px 20px;
    font-size: 40px;
}

.recomendaciones-productos h4{
    color: khaki;
    margin-bottom: 20px;
    font-size: 23px;
}


.recomendaciones-productos div {

    border: 1px solid white;
    padding: 20px;
    width: 80wv;
    height: 80hw;
    text-align: center;
    display: inline-block;
    margin: 50px 50px;
    
}

.recomendaciones-productos div img {
    display: inline-block;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
}


/* Estilos pagina Servicios*/

.servicios{

    height: 100%;
    background-image: url(../img/background3.jpg);
    height: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}
.clases-servicios{

    display: inline-block;
    align-items: center;
    justify-content: center;

}

.clases-servicios h2{
    font-size: 30px;
    color: antiquewhite;

}

.clases-servicios div {

    border: 1px solid white;
    padding: 20px;
    width: 90%;
    height: 80hw;
    text-align: center;
    display: inline-block;
    margin: 30px 30px; 
}


/* Estilos pagina Nosotros*/

.nosotros {
    
    height: 100%s;
    width: 100%;
    background-color: #e9ff99;
    background-image:
        radial-gradient(at 9% 89%, hsla(215, 90%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 72% 6%, hsla(331, 74%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 24% 19%, hsla(14, 90%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 65% 6%, hsla(6, 79%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 98%, hsla(316, 72%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 44% 9%, hsla(40, 96%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 9%, hsla(76, 65%, 63%, 1) 0px, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main h2 {

    font-size: 40px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    

}

.nosotros img {
   
    width: 300px;
    height: 300px;
    margin-top: 20px;
}



/* Estilos pagina Contacto*/


.form-register{

    background-image: url(../img/background3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
   
    justify-content: center;
    align-items: center;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: 50px 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, 
    rgba(2,0,36,1) 0%, 
    rgba(9,9,121,1) 42%, 
    rgba(0,212,255,1) 100%);;
    border: none;
    padding: 12px;
    color: #f5f5f5;
    font-weight: bolder;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .form-register .botons:hover {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, 
    rgba(34,193,195,1) 0%, 
    rgba(253,187,45,1) 100%);
  }

@media screen and (max-width:1000px){

    .clases-servicios div {
        width: 80%;
    } 
    .productos-spag h2 {
        font-size: 40px;
        padding-left: 60px;
    }

    .nosotros {
    
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    }
    
}


@media screen and (max-width:650px){

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        padding: 2px;
        
    }
    
    .nav-bar {
        width: 100%;
    }

    .primero {
        color: white;
        height: calc(100%);
        padding-bottom: 20px;  
        background-image: url(../img/background4.jpg);
    }

    .primero h1 {
        padding: 30px;
        margin-top: 50px;
        border-color: wheat;
    }

    .servicios  {
        padding-right: 30px ;
    } 
    .clases-servicios div {
        width: 80%;
    } 

    .segundo h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .recomendaciones div {
        margin: 10px 10px;
    }

    .productos-spag h2 {
        font-size: 40px;
        padding-left: 60px;
    } 

    .form-register h4{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-register p {
        margin-bottom: 30px;
    }
    
    .nosotros {
        display: flex ;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .nosotros img {
   
        width: 300px;
        height: 300px;
        margin-top: 20px;
        padding-left: 40px;
    
    }
    .main {
        display: inline;
        justify-content: center; 
        align-items: center;
        padding-top: 50px;
    }
    .nosotros h2 {
        justify-content: center;
        padding: 20px;
    }
    .nosotros p {
        margin: 20px 10px;
    }
}

