
// Index

.main{
    width: auto;
    padding: 30px;
}

.slide {
        img{
            height: 80vh;
            width: 50vw;
        }
}

.primero{
    color: white;
    width: 100%;
    height: calc(100vh);
    text-align: center;
    background-image: url(../img/background4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    h1{
    width: 70%;
    display: inline-block;
    padding: 50px;
    border: 3px solid wheat;
    font-size: 40px;
    }

    p{
    padding: 50px;
    font-size: 30px;
    }

    a{
    color: white;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: none;
    background-color: darkorchid;
    border: 1px solid black;
    padding: 10px;
    }
}

// RECOMENDACIONES

.segundo {
    display: block;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;

    h2{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
    }

    h3{
    color: white;
    margin-bottom: 20px;
    font-size: 23px;
    }
}

.recomendaciones {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
}

.segundo .recomendaciones {

    div {
        border: 1px solid gray;
        width:300px;
        height: 400px;
        text-align: center;
        display: inline-block;
        margin-left: 30px;
        margin-bottom: 30px;
        a{
            text-decoration: none;
            color: black;;
            background-color: khaki;
            padding: 10px; 
        }
        img {
            display: inline-block;
            justify-content: flex-start;
            width: 300px;
            height: 300px;
        
            }
        }
}
.tercero {
    display:flex;
    justify-content: center;
    align-items: center;
}

.tercero iframe {
    padding: 30px;
    align-items: center;
    justify-content: center;

 }
