

.servicios{
    padding-top: 100px;
    height: 100%;
    background-color: rosybrown;
    height: auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}

.clases-servicios{

    display: inline-block;
    align-items: center;
    justify-content: center;

    h2{
        font-size: 30px;
        color: antiquewhite;
    }

    div{
        border: 1px solid white;
        padding: 20px;
        width: 90%;
        height: 80hw;
        text-align: center;
        display: inline-block;
        margin: 30px 30px;
    }
}
/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}